<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/gatos.css">
  <title>Felinos</title>
</head>

<body>

  <header>

    <h2> EJS cats</h2>
  </header>

  <div>



    <% for (let index in gatos) { %>

      <a href="/<%=gatos[index].codigo%>"><img src="img/<%=gatos[index].imagen%>"
          alt="img/<%=gatos[index].nombre%>"></a>

      <% } %>



  </div>

</body>

</html>